h1 {
  text-align: center;
}

#time-left {
  text-align: center;
  height: auto;
  padding: 20px;
}

ul {
  list-style-type: none;
  padding: 15px;
}

li {
  display: inline;
  padding: 5px;
}

#results {
  color: blue;
  padding-top: 250px;
}
